body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  background: linear-gradient(to right, #659999, #f4791f);
}

h1 {
  font-weight: 700;
  margin: 20px auto;
  text-align: center;
  color: white;
}

form {
  width: 600px;
  margin: 20px auto;
  margin-top: 100px;
  border-style: solid;
  border-width: 0px;
  border-radius: 7px;
  padding: 50px;
  background: rgb(192,255,121);
  background-color: #202020;
}

input {
  /*display: block; */
  padding: 8px 16px;
  font-size: 30px;
  margin: 10px auto;
  width: 80%;
  box-sizing: border-box;
  border-radius: 7px;
  border: 3px solid white;
  outline: none !important;
  font-family: 'Lato', sans-serif;
  color: #202020;
}

.correct {
  border-color: #4ef84e;
  border-radius: 7px;
  border: 3px solid #4ef84e;
}

.incorrect {
  border-color: #ff3232;
  border-radius: 7px;
  border: 3px solid #ff3232
;
}


p {
  color: white;
  text-align: center;
}

::placeholder {
  color: #202020;
  opacity: 0.3;
  text-align: center;
}


.gitIcon {
  padding-top: 50px;
  text-align: center;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.fa {
  color: black;
}



 .wrapper:hover .fa{
    color: black;
    transition: 0.9s ease-in-out;
    transform: rotateY(180deg);
}
.wrapper{
    display: inline-block;
    width: 200px;
    overflow: hidden;
    text-align: center;
}

.inlineBlock {
  display:block;
}

.inlineIcon {
  margin-right: 50px;
}

.fa-cc-visa {
  margin-right: 50px;
  color: white;
}

.fa-cc-mastercard {
  margin-right: 50px;
  color: white;
}

.fa-cc-discover {
  margin-right: 50px;
  color: white;
}

.fa-cc-amex {
  margin-right: 50px;
  color: white;
}
